<div class="row-w-m back" style="margin-bottom: 2rem; width: 15rem;">
    <div class="col">
        <div class="row-w-m">
            <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" disabled>
                <strong>Buildings</strong>
            </button>
        </div>
        <div class="row-w-m">
            <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" disabled>
                <strong>Attack</strong>
            </button>
        </div>
        <div class="row-w-m">
            <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" disabled>
                <strong>Developments</strong>
            </button>
        </div>
        <div class="row-w-m">
                <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" disabled>
                    <strong>Battle</strong>
            </button>
        </div>
        <div class="row-w-m">
                <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" disabled>
                    <strong>Rank Table</strong>
            </button>
        </div>
        <div class="row-w-m">
                <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" disabled>
                    <strong>Army</strong>
            </button>
        </div>
    </div>
</div>