@import "~bootstrap/scss/bootstrap";
@import "../../pages/main-page/main-page.component.scss";

.row-w-m {
    @extend .row;
    margin-right: 15px;
    margin-left: 15px;
}

button {
    margin: 0.2rem;
}

button:enabled > strong {
    color: #001234;
}