<div class="row-w-m back" style="width: 15rem;">
    <div class="col">
        <div class="row-w-m">
            <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" routerLink="build">
                <strong>Buildings</strong>
            </button>
        </div>
        <div class="row-w-m">
            <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" routerLink="attack" >
                <strong>Attack</strong>
            </button>
        </div>
        <div class="row-w-m">
            <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" routerLink="develop">
                <strong>Developments</strong>
            </button>
        </div>
        <div class="row-w-m">
                <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" routerLink="battle">
                    <strong>Battle</strong>
            </button>
        </div>
        <div class="row-w-m">
                <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" routerLink="rank-table">
                    <strong>Rank Table</strong>
            </button>
        </div>
        <div class="row-w-m">
                <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" routerLink="army">
                    <strong>Army</strong>
            </button>
        </div>
        <div class="row-w-m" style="margin-bottom: 1rem">
                <button type="button" class="btn btn-primary btn-lg btn-block mx-auto" (click)="next()">
                    <strong>Next Round</strong>
            </button>
        </div>
    </div>
</div>