.description-row {
    display: block;
    margin: auto auto auto 20px;
}

.title {
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.separetor {
    border-color: #3B7DBD;
    border-top-width: medium;
}