<div class="row">
    <input [formControl]="queryField" class="form-control mr-sm-2 searchbox" type="search" placeholder="Search"
        aria-label="Search">
</div>
<div class="row justify-content-center">
    <div class="jumbotron building list">
        <div style="margin-right: 15px;">
            <hr style="border-color: grey;" />
            <div *ngFor="let user of users" (click)="onClick(user)">
                <div *ngIf="(!meOnList && (me | async).username != user.username) || meOnList" class="d-flex justify-content-between">
                    <p *ngIf="fullTable" class="col d-inline">{{ user.rank }}.</p>
                    <p class="col d-inline" style="text-align: left">{{ user.username }}</p>
                    <p *ngIf="fullTable" class="col d-inline" style="text-align: right">{{user.point}}</p>
                    <img [ngClass]="{'hide-select': selectedUser != user}"
                        src="../../../../../assets/images/icons/checked.svg" width="24" height="24" />
                </div>
                <hr style="border-color: grey;" />
            </div>
        </div>
    </div>
</div>