p {
    text-align: left;
    font: Regular 93px/147px Baloo;
    letter-spacing: 0;
    color: #9FFFF0;
    opacity: 1;
}

#title {
    top: 153px;
    left: 733px;
    width: 456px;
    height: 147px;
}