#title {
    text-align: center;
    font-style: Regular;
    letter-spacing: 0;
    color: #9FFFF0;
    opacity: 1;
    font-size: 93px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(15, 81, 204);
}

.content_aligne {
    margin-top: 15%;
}
