<form class="items" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <p id="subtitle" class="item">Registration</p>
    <input formControlName="username" required id="username" type="text" class="item" placeholder="Username" />
    <input formControlName="password" required id="password" type="password" class="item" placeholder="Password" />
    <input formControlName="confirm_password" required id="confirm_password" type="password" class="item" placeholder="Confirm password" />
    <input formControlName="city_name" required id="city_name" type="text" class="item" placeholder="City's name what you build" />
    <button id="submit" type="submit" class="item">Sign up & in</button>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="item">Sign in</a>
    <div *ngIf="error != ''" >
        <p style="color: crimson"><br />{{error}}</p>
    </div>
</form>