<form class="items">
    <p id="subtitle" class="item">Registration</p>
    <input id="username" type="text" class="item" placeholder="Username" />
    <input id="password" type="password" class="item" placeholder="Password" />
    <input id="confirm_password" type="password" class="item" placeholder="Confirm password" />
    <input id="city_name" type="text" class="item" placeholder="City's name what you build" />
    <button id="submit" type="submit" class="item">Sign up & in</button>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="item">Sign in</a>
</form>