<div class="row d-flex justify-content-center">
    <div class="jumbotron building">
        <div class="col pointer" [ngClass]="{'selected': selected == 0}">
            <!-- LaserShark -->
            <div class="row justify-content-between form-group">
                <div class="div-img">
                    <img src="../../../../../assets/images/icons/007-shark.svg" alt="LaserShark" />
                </div>
                <div class="col">
                    <label for="laserSharkRanger" class="row font-weight-light white-text text-right">LaserShark units:
                        {{values.laserShark}}</label>
                    <div class="row">
                        <input id="laserSharkRanger" #laserSharkRanger type="range" [min]="0"
                            [max]="maxRanges.laserShark" (input)="set('laserShark', laserSharkRanger.value)"
                            class="slider" [value]="values.laserShark" (mouseup)="send()">
                    </div>
                </div>
            </div>
            <!-- AssaultSeaDog -->
            <div class="row justify-content-between form-group">
                <div class="div-img">
                    <img src="../../../../../assets/images/icons/025-seal.svg" alt="AssaultSeaDog" />
                </div>
                <div class="col form-group">
                    <label for="assaultSeaDogRanger" class="row font-weight-light white-text text-right">AssaultSeaDog units:
                        {{values.assaultSeaDog}}</label>
                    <div class="row">
                        <input id="assaultSeaDogRanger" #assaultSeaDogRanger type="range" [min]="0"
                            [max]="maxRanges.assaultSeaDog" (input)="set('assaultSeaDog', assaultSeaDogRanger.value)"
                            class="slider" [value]="values.assaultSeaDog" (mouseup)="send()">
                    </div>
                </div>
            </div>
            <!-- BattleSeahorse -->
            <div class="row justify-content-between form-group">
                <div class="div-img">
                    <img src="../../../../../assets/images/icons/013-seahorse.svg" alt="BattleSeahorse" />
                </div>
                <div class="col form-group">
                    <label for="battleSeahorseRanger" class="row font-weight-light white-text text-right">BattleSeahorse units:
                        {{values.battleSeahorse}}</label>
                    <div class="row">
                        <input id="battleSeahorseRanger" #battleSeahorseRanger type="range" [min]="0"
                            [max]="maxRanges.battleSeahorse" (input)="set('battleSeahorse', battleSeahorseRanger.value)"
                            class="slider" [value]="values.battleSeahorse" (mouseup)="send()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>