<div class="row-w-m back" style="width: 15rem;">
    <div class="col">
        <div class="row-w-m"><img class="mx-auto" src="../../../../../assets/images/icons/002-male.svg"
            alt="User icon"></div>
        <div class="row-w-m">
            <p class="h6 mx-auto text-white"><strong>{{name}}</strong></p>
        </div>
        <div class="row-w-m">
                <button type="button" class="btn btn-link mx-auto text-white" disabled><strong>Profile</strong></button>
        </div>
        <div class="row-w-m">
            <button type="button" class="btn btn-link mx-auto text-white" (click)="logOut()"><strong>Log out</strong></button>
        </div>
    </div>
</div>
